<div *ngIf="!items || items.length == 0" class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-center lead">Your bag is empty.</h1>
            <h3 class="text-center lead">Go get some cool stuff.</h3>
            <button mat-flat-button routerLink="/" class="text-center continue">Continue shopping.</button>
        </div>
    </div>
</div>

<div *ngIf="items && items.length" class="container">
    <h1 class="text-center">Review your bag.</h1>
    <h3 class="text-center">Free delivery and free return.</h3>
    <div class="row mb-3" *ngFor="let item of items">
        <div class="col-md-4 themed-grid-col">
            <img class="img-thumbnail img-fluid" src="{{item.image2}}" />
        </div>
        <div class="col-md-8 justify-content-center mx-auto">
            <h2 class="font-weight-bold">{{item.name}}</h2>
            <hr>
            <p>{{item.description}}</p>
            <p>{{item.description1}}</p>
            <p>{{item.description2}}</p>
            <button class="btn btn-link" (click)="removeItem(item)">Remove</button>
        </div>
    </div>
    <hr>
    <div class="row mb-3 subtotal">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <ul class="list-group mb-4">
                <li class="list-group-item d-flex justify-content-between">
                    <h2>Subtotal (USD)</h2>
                    <h2>
                        <strong>${{getPrice()}}</strong>
                    </h2>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h2>Shipping</h2>
                    <h2>
                        <strong>FREE</strong>
                    </h2>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h2>Total (USD)</h2>
                    <h2>
                        <strong>${{getPrice()}}</strong>
                    </h2>
                </li>
            </ul>
            <button mat-flat-button routerLink="/" class="text-center w-100 continue">Checkout</button>
        </div>
    </div>
</div>